*.gcda
*.gcno
*.gcov
*.la
*.lo
*.o
*~
.deps/
.libs/
__pycache__/
Makefile
Makefile.in
TAGS

*.log
*.trs
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.report
/config.status
/config.sub
/configure
/cscope.files
/cscope.out
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/py-compile
/stamp-h1
/test-driver
/ylwrap
/kea_version.h

/all.info
/coverage-cpp-html
/kea.pc
/local.zone.sqlite3
/logger_lockfile
/report.info
/hammer

/coverage-dt-cpp-html
/dtreport.info
/kea_version.h
